@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  max-width: 100vw;
  background: theme("colors.background");
  color: theme("colors.foreground");
  font-family: theme("fontFamily.sans");
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
